html
  head
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='js/index.js', type='text/javascript')
  body
    canvas#data(width=1024, height=256)
    canvas#detailed_frequencies(width=1024, height=512)
    canvas#responsive_frequencies(width=1024, height=512)